body{
    background: #Edf2f6;
  }
  .badge {
    padding: 6px;
    font-size: 12px;
    box-shadow: none;
  }
  .btn{
    font-size: 14px;
  }
  .btn-theme{
      color: #fff;
      background-color: #7f03fc !important;
  }
  .btn-theme:hover{
      color: #fff !important;
  }

  .btn-save{
    color: #fff;
    background-color: #008080 !important;
  }
  .card-theme{
    border-radius: 5%;
  }
  .icon-color {
    color: #696cff;
}
.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.form-group .required::after {
    content: " *";
    color: red;
}
