body{
    background: #Edf2f6;
  }
  .badge {
    padding: 6px;
    font-size: 12px;
    box-shadow: none;
  }
  .btn{
    font-size: 14px;
  }
  .btn-theme {
      color: #fff;
      background-color: #7f03fc !important;
  }
  .btn-theme:hover{
      color: #fff !important;
  }

  .btn-save{
    color: #fff;
    background-color: #008080 !important;
  }

  .card-theme{
    border-radius: 5%;
  }

